<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="form.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
    <style>
        h1{
            opacity: 0.1;
        }
    </style>
</head>
<body>

<div class="container">

    <h1 style = "opacity:0.5;">Login</h1>

    <form action="/" method="">
        <div class="input-field">
            <i class='bx bxs-user' ></i>
            <input type="text" name="username" id="username" placeholder="username">
        </div>

        <div class="input-field">
            <i class='bx bxs-user' ></i>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="input-field">
            <i class='bx bxs-key' ></i>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button>SignUp!</button>
    </form>


</div>



</body>
</html>