{% extends 'base.html' %}
{% block content %}

<h2> Prof Quries</h2>
<h1>UPDATE EDUCATION</h1>
<form action="" method="POST">
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="number" name="professorID" id="professorID" placeholder="professorID" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="number" name="educationID" id="educationID" placeholder="educationID" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <select name="operation" id="operation">
            <!-- <option value="">designation</option> -->
            <option value="Insert">Insert</option>
            <option value="Update">Update</option>
            <option value="Delete">Delete</option>
            <!-- <option value="Male"></option> -->
        </select>
    </div>
    <button type="submit" name="education-submit">UPDATE EDUCATION</button>
    
</form>
<h1>FIND MENTOR</h1>
<form action="" method="POST">
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="number" name="Mentor-Project" id="projectID" placeholder="projectID" style="margin-left: 15px;width: 70%;">
    </div>
    <button type="submit" name="mentors-submits">SEE MENTORS</button>
</form>
<h1>ADD PROJECT</h1>
<form action="" method="POST">
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="number" name="AprojectID" id="projectID" placeholder="projectID" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="Title" id="Title" placeholder="Title" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="EmployeeId" id="EmployeeId" placeholder="EmployeeId" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="Duration" id="Duration" placeholder="Duration" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="StartDate" id="StartDate" placeholder="StartDate" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="EndDate" id="EndDate" placeholder="EndDate" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="Field" id="Field" placeholder="Field" style="margin-left: 15px;width: 70%;">
    </div>
    <div class="input-field">
        <i class='bx bxs-user' ></i>
        <input type="text" name="Domain" id="Domain" placeholder="Domain" style="margin-left: 15px;width: 70%;">
    </div>
    <button type="submit" name="addProject-submit">ADD PROJECT</button>
    <!-- Insert into “Project” (‘Title’, ‘MentorId’, ‘Duration’, ‘StartDate’, ‘EndDate’, ‘Field’, ‘Domain’) values ({Title}, {EmployeeId}, {Duration}, {StartDate},{EndDate}, {Field}, {Domain}) -->
</form>
{% endblock %}